<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf Fragments: nav bar</title>
</head>
<body>
<div th:fragment="nav">
<nav>
  <input id="nav-toggle" type="checkbox">
  <div class="logo"><a href="index.html" class="logo_txt">Something</a></div>
  <ul class="links">
    <li><a th:href="@{/}" class="active">Home</a></li>
    <li><a th:href="@{/search}" class="unactive">Search</a></li>
    <li><a th:href="@{/login}" class="unactive">Login</a></li>
    <div class="dropdown">
      <li class=""><a>Sign up <font style="font-size: 13px;">▼</font>
      </a></li>
      <div class="dropdown-menu">
        <a href="#" th:href="@{/form}">Student</a>
        <a href="#" th:href="@{/prof/form}">Professor</a>
      </div>
    </div>
  </ul>
  <label for="nav-toggle" class="icon-burger">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </label>
</nav>
</div>
</body>
</html>