<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Professor Sign Up</title>
</head>
<body>
<form action="#" th:action="@{/process-professor}" th:object="${professor}" method="post">
  <div >
    <label>First Name</label>
    <input type="text" th:field="*{firstName}">
    <span th:if="${#fields.hasErrors('firstName')}"
          th:errors="*{firstName}"></span>
    <br>

    <label>Last Name</label>
    <input type="text" th:field="*{lastName}">
    <span th:if="${#fields.hasErrors('lastName')}"
          th:errors="*{lastName}"></span>
    <br>

    <label>Email</label>
    <input type="text" th:field="*{email}">
    <span th:if="${#fields.hasErrors('email')}"
          th:errors="*{email}"></span>
    <br>
  </div>

  <div th:object="${user}">
    <label>Login</label>
    <input type="text" th:field="*{login}">
    <span th:if="${#fields.hasErrors('login')}"
          th:errors="*{login}"></span>
    <br>

    <label>Password</label>
    <input type="password" th:field="*{password}">
    <span th:if="${#fields.hasErrors('password')}"
          th:errors="*{password}"></span>
    <br>

    <label>Repeat Password</label>
    <input type="password" th:field="*{matchPassword}">
    <span th:if="${#fields.hasErrors('matchPassword')}"
          th:errors="*{matchPassword}"></span>
    <br>
  </div>

  <input type="submit" value="Sign Up">
</form>

</body>
</html>