<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Search Students</title>
  <link rel="stylesheet" href="/css/menu.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/search.css">
</head>
<body>
<div th:replace="~{navbar-fragment.html :: nav}"> </div>
  <main>
    <div class="container">
      <form action="#" th:action="@{/process-search}" th:object="${search}" method="post" class="search-form">
        <input type="text" th:field="*{name}" placeholder="Provide Last Name">
        <br>
        <button type="submit">Search</button>
      </form>
    </div>
  </main>
</body>
</html>